

#bloc_page
{
  width: 1000px;
  margin: auto;
}

body
{
font-family: railway, arial;
font-weight: normal;
}


header
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 51px;
}

/* Navigation bar block ///////////////////////////////////////////*/
.navbar
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.lien_activite
{
  margin-right: 68px;
  margin-left: 67px;
  text-decoration: none;
}

.lien_hebergement,.lien_activite,.lien_inscrire
{
  text-decoration: none;
  color: black;
}

.lien_hebergement
{
  border-top: 2px solid #0065FC;
  padding-top: 63px;
  color: #0065FC;
} 

/* Centre ville text ///////////////////////////////////////////*/
.centre_ville
{
  margin-top: -10px;
  margin-bottom: 25px;
}

/* Form & input block ///////////////////////////////////////////*/
#myInput
{
  width: 250 px;
  border-radius: 5px;
  border: 2px solid #F2F2F2;
  padding: 9.5px;
}

.rechercher
{
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  padding: 11px;
  color: #ffff;
  background-color: #0065FC;
  margin-left: -6px;
}

/* Filter list block ///////////////////////////////////////////*/
#myUL
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.filter_list
{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

/* Hebergement photo block ///////////////////////////////////////////*/
.block_lodging
{
 
  background: #F2F2F2;
}

/* Plus populaire photo block ///////////////////////////////////////////*/
.block_populaire
{
   background: #F2F2F2;
}






