

#bloc_page
{
  width: 1000px;
  margin: auto;
}

body
{
font-family: railway, arial;
font-weight: normal;
}


header
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 51px;
}

/* Navigation bar block ///////////////////////////////////////////*/
.navbar
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.lien_activite
{
  margin-right: 68px;
  margin-left: 67px;
  text-decoration: none;
}

.lien_hebergement,.lien_activite,.lien_inscrire
{
  text-decoration: none;
  color: black;
}

.lien_hebergement
{
  border-top: 2px solid #0065FC;
  padding-top: 63px;
  color: #0065FC;
} 

/* Centre ville text ///////////////////////////////////////////*/
.centre_ville
{
  margin-top: -10px;
  margin-bottom: 25px;
}

/* Form & input block ///////////////////////////////////////////*/
.input_bloc
{
  display: flex;
  flex-direction: row;
}

.fa-map-marker-alt
{
  border: 0px;
  border-radius: 10px 0px 0px 10px;
  padding: 9.5px 10px 11px 16px;
  color: black;
  background-color: #d9d9d9;
  width: 20px;

   } 

#myInput
{
  width: 200px;
  border-radius: 0px;
  border: 1px solid #d9d9d9;
  padding: 9.5px;
  margin-left: -7px;
bottom: 100px;
}

.rechercher
{
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  padding: 10.5px;
  color: #ffff;
  background-color: #0065FC;
  margin-left: -6px;
  width: 100px;
}

/* Filter list block ///////////////////////////////////////////*/
.filter_list
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.filter_title_icons
{
  margin-right: 30px;
}   

#filter_menu
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  width: 100%;
  height: 100%;  

}

.economique,.familiale,.romantique,.animaux
{
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 75px;
}


/*///////////////////////////////////////////////////////////*/
.fa-money-bill-wave     /*icon class pour Economique*/
{
  border-radius: 50%;
  padding: 13px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  color: #0065FC;
  background-color: #DEEBFF;
  position: absolute; 
  z-index: 9;
  bottom: -22px;
  left: 0%;
} 


.economique
{ 
  width: 119px; 
	padding: 10.5px 20px; 
	border-radius: 30px; 
  border: 2px solid #b8b7b7;
	background: #ffff; 
	position: absolute; 
	color: #fff; 
	text-align: right; 
	color: black; 
  bottom: -22px;
  left: 1%;
}

/*///////////////////////////////////////////////////////////*/
 .fa-child     /*icon class pour Familiale*/
{
  border-radius: 50%;
  padding: 13px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  color: #0065FC;
  background-color: #DEEBFF;
  	position: absolute; 
   z-index: 8;
   bottom: -22px;
   left: 23%;
} 


.familiale
{ 
  width: 90px; 
	padding: 10.5px 20px; 
	border-radius: 30px; 
  border: 2px solid #b8b7b7;
	background: #ffff; 
	position: absolute; 
	color: #fff; 
	text-align: right; 
	color: black; 
  bottom: -22px;
  left: 24%;  
}

/*///////////////////////////////////////////////////////////*/
 .fa-heart     /*icon class pour Romantique*/
{
  border-radius: 50%;
  padding: 13px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  color: #0065FC;
  background-color: #DEEBFF;
  	position: absolute; 
   z-index: 7;
bottom: -22px;
left: 43%;  
} 


.romantique
{ 
  width: 110px; 
	padding: 10.5px 20px; 
	border-radius: 30px; 
  border: 2px solid #b8b7b7;
	background: #ffff; 
	position: absolute; 
	color: #fff; 
	text-align: right; 
	color: black; 
bottom: -22px;
left: 44%;  
}

/*///////////////////////////////////////////////////////////*/
 .fa-dog     /*icon class pour Animaux authorisés*/
{
  border-radius: 50%;
  padding: 13px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  color: #0065FC;
  background-color: #DEEBFF;
  	position: absolute; 
   z-index: 6;
bottom: -22px;
left: 66%; 
} 

.animaux
{ 
  width: 180px; 
	padding: 10.5px 20px; 
	border-radius: 30px; 
  border: 2px solid #b8b7b7;
	background: #ffff; 
	position: absolute; 
	color: #fff; 
	text-align: right; 
	color: black; 
bottom: -22px;
left: 66.5%; 
}





/* Hebergement photo block ///////////////////////////////////////////*/


/* Plus populaire photo block ///////////////////////////////////////////*/

/* Définition des polices ///////////////////////////////////////////*/


  
  





