
#bloc_page
{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
    
 body
{
    width: 100%;
}

*{
    font-family: 'Raleway', sans-serif;
 }





/* Navigation bar block //////////////////////////////////////////*/
 .navbar 
 {
     display: flex;
     list-style-type: none;

 }

 .lien_hebergement,.lien_activite 
 {
     text-decoration: none;
     color: black;
 }

 .lien_hebergement 
 {
     color: #0065FC;
  }



/* Form & input block ///////////////////////////////////////////*/
 .input_bloc 
 {
     display: flex;
     flex-direction: row;
 }

 .fa-map-marker-alt 
 {
     border: 0px;
     border-radius: 10px 0px 0px 10px;
     padding: 9.5px 10px 11px 16px;
     color: black;
     background-color: #d9d9d9;
     width: 20px;
 }

 #myInput 
 {
     border-radius: 0px;
     border: 1px solid #d9d9d9;
     padding: 9.5px;
     margin-left: -7px;
 }


 .rechercher 
 {
     border: 0px;
     border-radius: 0px 15px 15px 0px;
     padding: 11px;
     color: #ffff;
     background-color: #0065FC;
     margin-left: -6px;
     width: 100px;
 }




/* Filter list block ///////////////////////////////////////////*/

 #filter_menu 
 {
     display: flex;
     list-style-type: none;
     position: relative;
 }

 .economique,.familiale,.romantique,.animaux {
     text-decoration: none;
     font-weight: bold;
 }


  .economique:hover 
  {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
  }
  
  .familiale:hover 
  {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
  }
  
  .romantique:hover 
  {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
  }
  
  .romantique:hover 
  {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
  }
  
  .animaux:hover 
  {
    background-color: #DEEBFF;
    border: solid #DEEBFF;
  }


/*///////////////////////////////////////////////////////////*/
  .fa-money-bill-wave     /*icon class pour Economique*/
  {
    border-radius: 50%;
    padding: 12.5px;
    width: 16px;
    text-align: center;
    vertical-align: middle;
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute; 
    z-index: 9;
  } 
  
  .economique
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #b8b7b7;
    background: #ffff; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }
  
  .economique:hover
  {
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #DEEBFF;
    background: #DEEBFF; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }


/*///////////////////////////////////////////////////////////*/
   .fa-child     /*icon class pour Familiale*/
  {
    border-radius: 50%;
    padding: 12.5px;
    width: 16px;
    text-align: center;
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute; 
    z-index: 8;
  } 
  
  .familiale
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #b8b7b7;
    background: #ffff; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }
  
  .familiale:hover
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #DEEBFF;
    background: #DEEBFF; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }



/*///////////////////////////////////////////////////////////*/
   .fa-heart     /*icon class pour Romantique*/
  {
    border-radius: 50%;
    padding: 12.5px;
    width: 16px;
    text-align: center;
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute; 
    z-index: 7;
  } 
  
  .romantique
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #b8b7b7;
    background: #ffff; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }
  
  .romantique:hover
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #DEEBFF;
    background: #DEEBFF; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }



/*///////////////////////////////////////////////////////////*/
   .fa-dog     /*icon class pour Animaux authorisés*/
  {
    border-radius: 50%;
    padding: 12.5px;
    width: 16px;
    text-align: center;
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute; 
    z-index: 6;
  } 
  
  .animaux
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #b8b7b7;
    background: #ffff; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }
  
  .animaux:hover 
  { 
    padding: 9.5px 20px; 
    border-radius: 30px; 
    border: 1.5px solid #DEEBFF;
    background: #DEEBFF; 
    position: absolute; 
    text-align: right; 
    color: black; 
  }



/* Info block /////////////////////////////////////////////////////////*/
  .info
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
  .fa-info
  {
    border-radius: 50%;
    padding: 6px;
    width: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    border: 1px solid #b8b7b7;
    color: #0065FC;
    background-color: #ffff;
  }


/* Hebergement à Marseille photo block ///////////////////////////////////////////*/



  #lodging_title
  {
  font-size: 16px;
  margin-top: 30px;
  margin-left: 20px;
  }


/*///////////////////////////////////////////////////////////*/
    /*All grey stars*/


  .fa-star
  {
  font-size: small;
  }


 .grey
  {
    color: #b8b7b7;
  }	



/*///////////////////////////////////////////////////////////*/
    /*Image block - Auberge La Cannebière*/
  
 .auberge_la_cannebiere
 {
  filter: drop-shadow(1px 1px 10px #4444442e);
  margin-bottom: 20px;

 }

  .auberge_pic
  {
    height: 80px;
    object-fit: cover;
    object-position: 48% 55%;
    margin-bottom: -25px;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid #ffff
  }
  
  .auberge_bloc_text_and_stars 
  {
    background-color: #ffff;
    padding: 10px 15px;
    line-height: 20px;
    height: 60px;
    width: 83.5%;
    box-shadow: 0 0 25px -15px #444444;
    border-radius: 15px 15px 15px 15px;
  }
  
  .auberge_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;

  }
  
.auberge_bloc_text_and_stars p strong
  {
   font-size: 12px;
  }

.auberge_bloc_text_and_stars p
  {
   font-size: 12px;
  }



/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel du port*/
  
  .port_pic
  {
    height: 80px;
    object-fit: cover;
    object-position: 65% 55%;
    margin-bottom: -25px;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid #ffff
  }
  
  .port_bloc_text_and_stars 
  {
    background-color: #ffff;
    padding: 10px 15px;
    line-height: 20px;
    height: 60px;
    width: 83.5%;
    box-shadow: 0 0 25px -15px #444444;
    border-radius: 15px 15px 15px 15px;
  }
  
  .hotel_du_port_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
.port_bloc_text_and_stars p strong
  {  
   font-size: 12px;
  }

.port_bloc_text_and_stars p
  {
   font-size: 12px;
  }



/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel les mouettes*/
  
  .les_mouettes_pic
  {
    height: 80px;
    object-fit: cover;
    margin-bottom: -25px;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid #ffff
  }
  
  .mouettes_bloc_text_and_stars 
  {
    background-color: #ffff;
    padding: 10px 15px;
    line-height: 20px;
    height: 60px;
    width: 83.5%;
    box-shadow: 0 0 25px -15px #444444;
    border-radius: 15px 15px 15px 15px; 
  }
  
  .les_mouettes_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
.mouettes_bloc_text_and_stars p strong
  {
   font-size: 12px;
  }

 .mouettes_bloc_text_and_stars p
  {
   font-size: 12px;
  }



  /*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel de la mère*/

  .mere_pic
  {
    height: 80px;
    object-fit: cover;
    margin-bottom: -25px;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid #ffff
  }
  
  .mere_bloc_text_and_stars 
  {
    background-color: #ffff;
    padding: 10px 15px;
    line-height: 20px;
    height: 60px;
    width: 83.5%;
    box-shadow: 0 0 25px -15px #444444;
    border-radius: 15px 15px 15px 15px;  
  }
  
  .hotel_mere_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
.mere_bloc_text_and_stars p strong
  {
   font-size: 12px;
  }

.mere_bloc_text_and_stars p
  {
   font-size: 12px;
  }


/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel Le Panier*/
 
 .hotel_le_panier
  {
   filter: drop-shadow(1px 1px 10px #4444442e);
   margin-bottom: 20px;
  }
  
  .panier_pic
  {
    height: 80px;
    object-fit: cover;
    margin-bottom: -25px;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid #ffff
  }
  
  .panier_bloc_text_and_stars 
  {
    background-color: #ffff;
    padding: 10px 15px;
    line-height: 20px;
    height: 60px;
    width: 83.5%;
    box-shadow: 0 0 25px -15px #444444;
    border-radius: 15px 15px 15px 15px;
  }
  
  .le_panier_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
  .panier_bloc_text_and_stars p strong
  {
   font-size: 12px;
  }

  .panier_bloc_text_and_stars p
  {
   font-size: 12px;
  }



/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel chez Amina*/
  
  .amina_pic
  {
    height: 80px;
    object-fit: cover;
    margin-bottom: -25px;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid #ffff
  }
  
  .amina_bloc_text_and_stars 
  {
    background-color: #ffff;
    padding: 10px 20px;
    line-height: 20px;
    height: 60px;
    box-shadow: 0 0 25px -15px #444444;
    border-radius: 15px 15px 15px 15px;  
  }
  
  .chez_amina_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
    }
  
  .amina_bloc_text_and_stars p strong
  {
   font-size: 12px;
  }

  .amina_bloc_text_and_stars p
  {
   font-size: 12px;
  }




/*///////////////////////////////////////////////////////////*/
  .afficher_plus      /*Read more link*/
  {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }



/*///// Plus populaire photo block /////    //////    //////   //////    //////*/
      
  .title_and_graph
  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  
.title_and_graph h3
  {
  font-size: 16px; 
  
  }



/*///////////////////////////////////////////////////////////*/
  .hotel_soleil_du_matin     /*Image block - Hôtel Le soleil du matin*/
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin-top: 1px;
    filter: drop-shadow(1px 1px 10px #4444442e);
    border-radius: 15px 15px 15px 15px;  
  }
  
  .hotel_soleil_du_matin > a:nth-child(1) 
  {
    padding-right: 5px;
    width: 58%;
  }

  .soleil_pic
  {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 50% 45%;
    border-radius: 15px 0px 0px 15px;
    border: 4px solid #ffff
  }
  
  .soleil_bloc_text_and_stars 
  {
    height: 106px;
    width: 100%;
    background-color: #ffff;
    padding: 2px 0px 0px 20px;
    padding-left: 15px;
    border-radius: 0px 15px 15px 0px;
    line-height: 20px;
  }
  
  .soleil_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
.soleil_bloc_text_and_stars p strong
  {
   
   font-weight: bold;
   font-size: 12px;
  }


.soleil_bloc_text_and_stars p
  {
   font-size: 12px;
  }


/*///////////////////////////////////////////////////////////*/
  .coeur_eau     /*Image block - Au coeur de l'eau Chambres d'hôtes*/
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    filter: drop-shadow(1px 1px 10px #4444442e);
    border-radius: 15px 15px 15px 15px; 
  }
  
  .coeur_eau > a:nth-child(1) 
  {
    padding-right: 5px;
    width: 58%;
  }

  .coeur_eau_pic
  {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 50% 45%;
    border-radius: 15px 0px 0px 15px;
    border: 4px solid #ffff
  }
  
  .coeur_eau_bloc_text_and_stars 
  {
    height: 106px;
    width: 100%;
    background-color: #ffff;
    padding: 2px 0px 0px 20px;
    padding-left: 15px;
    padding-right: px;
    border-radius: 0px 15px 15px 0px;
    line-height: 20px;
   }
  
  .coeur_eau_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
.coeur_eau_bloc_text_and_stars p strong
  {
   
   font-weight: bold;
   font-size: 12px;
  }


.coeur_eau_bloc_text_and_stars p
  {
   font-size: 12px;
  }

/*///////////////////////////////////////////////////////////*/
  .bleu_blanc     /*Image block - Hôtel Tout bleu et Blanc*/
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    filter: drop-shadow(1px 1px 10px #4444442e);
    border-radius: 15px 15px 15px 15px; 
    width: 100%;       
  }

  .bleu_blanc > a:nth-child(1) {
    padding-right: 5px;
    width: 58%;
}
  
  .bleu_blanc_pic
  {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 50% 45%;
    border-radius: 15px 0px 0px 15px;
    border: 4px solid #ffff
  }
  
  .bleu_text_stars 
  {
    height: 106px;
    width: 100%;
    background-color: #ffff;
    padding: 2px 0px 0px 20px;
    padding-left: 15px;
    border-radius: 0px 15px 15px 0px;
    line-height: 20px;
    margin-bottom: 31px;
  }
  
  .bleu_blanc_stars
  {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-left: -40px;
    list-style-type: none;
    color: #0065FC;
  }
  
  .bleu_text_stars p strong
  {
   font-weight: bold;
   font-size: 12px;
  }


  .bleu_text_stars p
  {
   font-size: 12px;
  }


/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/
/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/
/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////*/
  /*Image block - Vieux Port*/
  .vieuxPort_pic_and_text p
  {
    background-color: #ffff;
    padding: 15px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 94%;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .vieuxPort_pic_and_text
  {
    filter: drop-shadow(1px 1px 10px #4444442e);
  }
  


/*///////////////////////////////////////////////////////////*/
  /*Image block - Fort de Pomègues*/
  .pomegues_pic_text p
  {
    background-color: #ffff;
    padding: 15px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 93%;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  .pomegues_pic_text
  {
    filter: drop-shadow(1px 1px 10px #4444442e);
  }

/*///////////////////////////////////////////////////////////*/
  /*Image block - Iles du Frioul*/
   .frioul_pic_text p
  {
    background-color: #ffff;
    padding: 15px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 93%;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .frioul_pic_text
  {
    margin-bottom: 25px;
    filter: drop-shadow(1px 1px 10px #4444442e);
  }

   /*///////////////////////////////////////////////////////////*/
  /*Image block - Parc National des Calanques*/
  .calanques_pic_text p
  {
    background-color: #ffff;
    padding: 15px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 93%;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .calanques_pic_text
  {
    margin-bottom: 25px;
    filter: drop-shadow(1px 1px 10px #4444442e);
  }

/*///////////////////////////////////////////////////////////*/
  /*Image block - Notre-Dame-de-la-Garde*/
 
  .notreDame_pic_text p
  {
    background-color: #ffff;
    padding: 15px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 93%;
    height: 35px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .notreDame_pic_text
  {
    filter: drop-shadow(1px 1px 10px #4444442e);
    margin-bottom: 25px;
  }



  /*///////////////////////////////////////////////////////////*/
  /*Image block - Parc Longchamp*/
 
  .Longchamp_pic_text p
  {
    background-color: #ffff;
    padding: 11px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 93%;
    height: 35px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .Longchamp_pic_text
  {
    margin-bottom: 25px;
    filter: drop-shadow(1px 1px 10px #4444442e);
  }
  
  /* Footer block ////////////////////////////////////////////////////////////////*/
  
  footer li
  {
    list-style-type: none;
  }
  
  footer a
  {
    text-decoration: none;
    color: black;
  }

  .about nav, .our_lodges nav, .assistance nav
  {
   margin-left: -40px; 
   margin-top: -10px;
   line-height: 25px;
  }







  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/  
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/ 
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/



@media only screen and (min-width: 600px), (max-width: 375)
{

   header
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 51px;
  }
  
  /* Navigation bar block ///////////////////////////////////////////*/
  .navbar
  {
    flex-direction: row;
  }
  
  .lien_activite
  {
    margin-right: 68px;
    margin-left: 67px;
  }
  
  .lien_hebergement
  {
    border-top: 2px solid #0065FC;
    padding-top: 63px;
  } 
  
  .lien_inscrire
  {
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
  } 
  
  .lien_inscrire_xs
  {
    display: none;
  }
    
  
  /* Centre ville text ///////////////////////////////////////////*/
  .centre_ville
  {
    margin-top: -10px;
    margin-bottom: 25px;
  }
  
  /* Form & input block ///////////////////////////////////////////*/
    
  #myInput
  {
    width: 200px;
  }
  
  .rechercher_icon 
  {
    display: none;
  }

    
  .rechercher
  {
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    padding: 11px;
    color: #ffff;
    background-color: #0065FC;
    margin-left: -6px;
    width: 100px;
  }
  
  /* Filter list block ///////////////////////////////////////////*/
 
  .filter_list
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }
  
  .filter_title_icons
  {
    margin-right: 30px;
  }   
  
  #filter_menu
  {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .economique,.familiale,.romantique,.animaux
  {
    font-size: 14px;
  }
  

  
  /*///////////////////////////////////////////////////////////*/
  .fa-money-bill-wave     /*icon class pour Economique*/
  {
    bottom: -21.5px;
    left: 0%;
  } 
  
  .economique
  { 
    width: 105px; 
    bottom: -22px;
    left: 1%;
  }
  
  .economique:hover
  {
    width: 105px; 
    bottom: -22px;
    left: 1%;
  }
  
  /*///////////////////////////////////////////////////////////*/
   .fa-child     /*icon class pour Familiale*/
  {
    bottom: -21.5px;
    left: 19%;
  } 
  
  .familiale
  { 
    width: 80px; 
    bottom: -22px;
    left: 20%;  
  }
  
  .familiale:hover
  { 
    width: 80px; 
    bottom: -22px;
    left: 20%;
  }
  
  /*///////////////////////////////////////////////////////////*/
   .fa-heart     /*icon class pour Romantique*/
  {
    bottom: -21.5px;
    left: 35%;  
  } 
  
  .romantique
  { 
    width: 110px; 
    bottom: -22px;
    left: 36%;  
  }
  
  .romantique:hover
  { 
    width: 110px; 
    bottom: -22px;
    left: 36%; 
  }
  
  /*///////////////////////////////////////////////////////////*/
   .fa-dog     /*icon class pour Animaux authorisés*/
  {
    bottom: -21.5px;
    left: 54.6%; 
  } 
  
  .animaux
  { 
    width: 180px; 
    bottom: -22px;
    left: 55.5%; 
  }
  
  .animaux:hover 
  {
    width: 180px; 
    bottom: -22px;
    left: 55.5%;  
  }
  /* Info block ///////////////////////////////////////////*/
     
  .info_text
  {
    margin-left: 1%;
  }
  
  /*/////////////////////////////////////////////////////////////////////////*/
  /*///Hebergement & activities results///*/
  .hebergement_and_activities_results
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
    align-items: flex-start;
  }
  
  
  /* Hebergement à Marseille photo block ///////////////////////////////////////////*/
  .block_lodging
  {
    width: 100%;
    min-height: 450px;
    background: #F2F2F2;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 34px;
    margin-top: 30px;
    margin-bottom: 25px;    
  }

 .block_lodging_photos
  {
  width: 100%;
  margin-bottom: 10px;
  }
 
   
  #lodging_title
  {
  font-size: 16px;
  margin-top: 30px;
  }


 .bloc_cannebiere_port_Mouettes 
 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  column-gap: 4%;  
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 20px;
  padding-bottom: 20px;
 }
 
 .auberge_la_cannebiere
  {
   width: 183px;
   height: 143px;
  }

 .hotel_du_port
 {
   width: 183px;
   height: 143px;
 }

 .hotel_les_mouettes
 {
   width: 183px;
   height: 143px;
 }


.bloc_mere_panier_amina
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  column-gap: 4%;
  margin-left: 0%;
  margin-right: 0%;
}

.hotel_mere
{
   width: 183px;
   height: 143px;
}

.hotel_le_panier
{
   width: 183px;
   height: 143px;
}

.hotel_chez_amina
{
   width: 183px;
   height: 143px;
 }






  /*///////////////////////////////////////////////////////////*/
    /*Image block - Auberge La Cannebière*/
  
 

  .auberge_pic
  {
    width: 95.5%;
  }

  
      
  /*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel du port*/
  
  
  .port_pic
  {
    width: 95.5%;
  }

  
  /*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel les mouettes*/
  
  
  .les_mouettes_pic
  {
    width: 95.5%;
    object-position: 48% 55%;
  }
  
  
/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel de la mère*/
  
  
  .mere_pic
  {
    width: 95.5%;
    object-position: 48% 55%;
  }

  
/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel Le Panier*/
 
  
  .panier_pic
  {
    width: 95.5%;
    object-position: 48% 55%;
  }


/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel chez Amina*/
  
  
  .amina_pic
  {
    width: 95.5%;
    object-position: 48% 55%;
  }
  
  .amina_bloc_text_and_stars 
  {
    width: 78%;
  }
  
  .amina_bloc_text_and_stars p strong
  {
   font-size: 12px;
  }

  .amina_bloc_text_and_stars p
  {
   font-size: 12px;
  }

  
  
/*///// Plus populaire photo block /////    //////    //////   //////    //////*/
/*///// Plus populaire photo block /////    //////    //////   //////    //////*/
/*///// Plus populaire photo block /////    //////    //////   //////    //////*/
  
  .block_populaire
  {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 445px;
    background: #F2F2F2;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 15px;
    margin-top: 31px;    
  }


/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel Le soleil du matin*/

  
  .soleil_bloc_text_and_stars 
  {
    margin-bottom: 31px;
  }



/*///////////////////////////////////////////////////////////*/
         /*Image block - Au coeur de l'eau Chambres d'hôtes*/

  
  .coeur_eau_bloc_text_and_stars 
  {
    margin-bottom: 31px;
  }
  
/*///////////////////////////////////////////////////////////*/
  .afficher_plus      /*Read more link*/
  {
    margin-left: 10px;
  }






/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/
/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/
/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/

  .activities_results
  {
    display: flex;
    flex-direction: row;
    background-color: none;
    border-radius: 15px;
    padding: 0px 20px 20px 0px;
    width: 100%;
  }
  
  .bloc_vieuxPort_pomegues_and_Frioul
  {
    display: flex;
    flex-direction: row;
    margin-top: px;
    margin-right: 25px;
    margin-left: 0px;
    width: 50%;
  }
  
  .bloc_calanques_notreDame_and_Longchamp
  {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    width: 50%;
  }
  
  .bloc_pomegues_and_Frioul
  {
    margin-top: 60px;
    width: 100%;
  }
  
  .notreDame_and_Longchamp {
    width: 100%;
  }

  /*///////////////////////////////////////////////////////////*/
  /*Image block - Vieux Port*/
  .vieuxPort_pic
  {
    width: 100%;
    height: 365px;
    object-fit: cover;
    object-position: 48% 45%;
    border-radius: 20px 20px 0px 0px;
  }

  .vieuxPort_pic_and_text
  {
    margin-right: 25px;
    width: 100%;
  }
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Fort de Pomègues*/
  .fortPomegues_pic
  {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 48% 45%;
    border-radius: 20px 20px 0px 0px;
  }
     
  .pomegues_pic_text
  {
    filter: drop-shadow(1px 1px 10px #4444442e);
  }
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Iles du Frioul*/
  .ilesFrioul_pic
  {
    width: 100%;
    height: 145px;
    object-fit: cover;
    object-position: 48% 5%;
    border-radius: 20px 20px 0px 0px;
  }
  
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Parc National des Calanques*/
  .calanques_pic
  {
    width: 100%;
    height: 365px;
    object-fit: cover;
    object-position: 42% 45%;
    border-radius: 20px 20px 0px 0px;
   }
    
  .calanques_pic_text
  {
    margin-right: 25px;    
    width: 100%;
  }
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Notre-Dame-de-la-Garde*/
  .notreDame_pic
  {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: 48% 15%;
    border-radius: 20px 20px 0px 0px;
  }
  
  .notreDame_pic_text p
  {
    background-color: #ffff;
    padding: 15px 0px 0px 15px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    width: 94%;
    height: 35px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .notreDame_pic_text
  {
    filter: drop-shadow(1px 1px 10px #4444442e);
    width: 100%;
  }
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Parc Longchamp*/
  .Longchamp_pic
  {
    width: 100%;
    height: 151px;
    object-fit: cover;
    object-position: 48% 15%;
    border-radius: 20px 20px 0px 0px;
  }
      
  .Longchamp_pic_text
  {
    width: 100%;
  }
  
  /* Footer block ////////////////////////////////////////////////////////////////*/
  footer
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    background-color: #F2F2F2;
    height: 180px;
    margin-top: 7px;
  }
  
  
  
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/  
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/ 
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  
  
  
  /* Medium devices (laptops and desktops, 992px and up) */
@media only screen and (max-width: 375px)  {


body
{
   display: flex; 
   justify-content: center;
   width: 100%;
}

   #logo {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 50px;
     margin-bottom: 20px;
 }
  
   /* Navigation bar block //////////////////////////////////////////*/
 .navbar 
 {
     align-content: flex-end;
     padding: 0;        
 }


 .bar_under
 {
    width: 50%;
    border-bottom: 2px solid #0065FC;
    height: 40px;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
 }

 .bar_under_activities
 {
    width: 50%;
    border-bottom: 2px solid #eee;
    height: 40px;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
 }


 .lien_activite
  {
   margin-left: 65px;    

  }

 .lien_hebergement 
 {
     margin-left: 40px; 
  }

 .lien_inscrire {
     display: none;
 }

 .lien_inscrire_xs {
     text-decoration: none;
     color: #0065FC;
     font-weight: bold;
     position: relative;
 }

 #search_section h1 {
     margin-top: 40px;
     margin-left: 20px;
     margin-right: 0px;
 }

 #search_section {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

    
  
  /* Centre ville text ///////////////////////////////////////////*/

 .centre_ville {
     margin: auto;
     margin-top: 0px;
     margin-bottom: 30px;
     margin-left: 20px;
     margin-right: 0px;
 }

 /* Form & input block ///////////////////////////////////////////*/
 .input_bloc 
 {
     margin-left: 20px;
     margin-right: 0px;
 }


 #myInput 
 {
     width: 225px;
 }

    .rechercher_icon
  {
    border: 0px;
    border-radius: 10px 10px 10px 10px;
    padding: 11px;
    color: #ffff;
    background-color: #0065FC;
    margin-left: -6px;
    width: 40px;
  }


 .rechercher 
 {
     display: none;
 }
  


  /* Filter list block ///////////////////////////////////////////*/

  .filter_list {
     margin-left: 20px;
     margin-right: 60px;
 }

 .filter_title_icons {
     margin-top: 35px;
     margin-bottom: 30px;
 }

 #filter_menu 
 {
     margin: auto;
     margin-bottom: 170px;
 }

 .economique,.familiale,.romantique,.animaux 
 {
     color: black;
 }
  

  
  /*///////////////////////////////////////////////////////////*/
  .fa-money-bill-wave     /*icon class pour Economique*/
  {
    bottom: -21.5px;
    left: 0%;
  } 
  
  .economique
  { 
    width: 115px; 
    bottom: -22px;
    left: 1%;
  }
  
  .economique:hover
  {
    width: 115px; 
    bottom: -22px;
    left: 1%;
  }
  
  /*///////////////////////////////////////////////////////////*/
   .fa-child     /*icon class pour Familiale*/
  {
    bottom: -21.5px;
    left: 62%;
  } 
  
  .familiale
  { 
    width: 90px; 
    bottom: -22px;
    left: 63%;  
  }
  
  .familiale:hover
  { 
    width: 90px; 
    bottom: -22px;
    left: 63%;
  }
  
  /*///////////////////////////////////////////////////////////*/
   .fa-heart     /*icon class pour Romantique*/
  {
    bottom: -79px;
    left: 0%;  
  } 
  
  .romantique
  { 
    width: 112px;  
    bottom: -80px;
    left: 1%;  
  }
  
  .romantique:hover
  { 
    width: 112px; 
    bottom: -80px;
    left: 1%; 
  }
  
  /*///////////////////////////////////////////////////////////*/
   .fa-dog     /*icon class pour Animaux authorisés*/
  {
    bottom: -137px;
    left: 0%; 
  } 
  
  .animaux
  { 
    width: 173px; 
    bottom: -138px;
    left: 1%; 
  }
  
  .animaux:hover 
  {
    width: 173px; 
    bottom: -138px;
    left: 1%;  
  }


  /* Info block ///////////////////////////////////////////*/
  .fa-info
  {
     margin-left: 4%;
  }
  
  .info_text
  {
    margin-left: 2%;
  }
  
/*/////////////////////////////////////////////////////////////////////////*/
  /*///Hebergement & activities results///*/
  .hebergement_and_activities_results
  {
    display: flex;
    flex-direction: column-reverse; 
  }
  
  
  /* Hebergement à Marseille photo block ///////////////////////////////////////////*/
  .block_lodging
  {
    background: #ffff;
    padding-bottom: 35px;
    margin-top: 30px;

  }

 .block_lodging_photos
  {
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: -15px;
  }
 
   
  #lodging_title
  {
  margin-left: 20px;
  }


 .bloc_mere_panier_amina
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
 }


/*///////////////////////////////////////////////////////////*/
    /*Image block - Auberge La Cannebière*/
  
 .auberge_la_cannebiere
 {
  filter: drop-shadow(1px 1px 10px #4444442e);
  margin-bottom: 20px;

 }

  .auberge_pic
  {
    width: 89.6%;
  }


/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel du port*/
  
  .hotel_du_port
  {
   filter: drop-shadow(1px 1px 10px #4444442e);
   margin-bottom: 20px;
  }
  
  .port_pic
  {
    width: 89.6%;
  }

  
/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel les mouettes*/
  
  .hotel_les_mouettes
  {
   filter: drop-shadow(1px 1px 10px #4444442e);
   margin-bottom: 20px;
  }
  
  
  .les_mouettes_pic
  {
    width: 89.6%;
    object-position: 65% 55%;
  }

  
  
/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel de la mère*/
  
  .hotel_mere
  {
   filter: drop-shadow(1px 1px 10px #4444442e);
   margin-bottom: 20px;
  }

  .mere_pic
  {
    width: 89.6%;
    object-position: 65% 55%;
  }
  
  
/*///////////////////////////////////////////////////////////*/
       /*Image block - Hôtel Le Panier*/
 
 .hotel_le_panier
  {
   filter: drop-shadow(1px 1px 10px #4444442e);
   margin-bottom: 20px;
  }

  
  .panier_pic
  {
    width: 89.6%;
    object-position: 65% 55%;
  }


/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel chez Amina*/
  
  .hotel_chez_amina
  {
   filter: drop-shadow(1px 1px 10px #4444442e);
  }
  
  .amina_pic
  {
    width: 89.6%;
    object-position: 65% 55%;
  }
  
  .amina_bloc_text_and_stars 
  {
    width: 80.7%; 
  }



/*///////////////////////////////////////////////////////////*/
  .afficher_plus      /*Read more link*/
  {
    margin-left: 15px;
  }


/*///// Plus populaire photo block /////    //////    //////   //////    //////*/
  
  .block_populaire
  {
   background: #F2F2F2;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 15px;
   margin-top: 31px;
  }

/*///////////////////////////////////////////////////////////*/
        /*Image block - Hôtel Le soleil du matin*/

  
  .soleil_bloc_text_and_stars 
  {
    margin-bottom: 21px;
  }



/*///////////////////////////////////////////////////////////*/
        /*Image block - Au coeur de l'eau Chambres d'hôtes*/


  .coeur_eau_bloc_text_and_stars 
  {
    margin-bottom: 21px;
  }



  


/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/
/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/
/* Activites à Marseille photo block ////////////////////////////////////////////////////////////////*/

  .activities_results 
  {
     display: flex;
     flex-direction: column;
     margin-left: 8px;
  }

 
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Vieux Port*/
  .vieuxPort_pic
  {
    width: 98%;
    height: 130px;
    object-fit: cover;
    object-position: 48% 25%;
    border-radius: 15px 15px 0px 0px;
  }

  .vieuxPort_pic_and_text
  {
    margin-bottom: 30px;
  }
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Fort de Pomègues*/
  .fortPomegues_pic
  {
    width: 97%;
    height: 130px;
    object-fit: cover;
    object-position: 48% 45%;
    border-radius: 20px 20px 0px 0px;
  }
  
  .pomegues_pic_text
  {
    margin-bottom: 25px;
  }
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Iles du Frioul*/
  .ilesFrioul_pic
  {
    width: 97%;
    height: 130px;
    object-fit: cover;
    object-position: 48% 5%;
    border-radius: 20px 20px 0px 0px;
  }
  

  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Parc National des Calanques*/
  .calanques_pic
  {
    width: 97%;
    height: 130px;
    object-fit: cover;
    object-position: 42% 45%;
    border-radius: 20px 20px 0px 0px;
  }
  
  
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Notre-Dame-de-la-Garde*/
  .notreDame_pic
  {
    width: 97%;
    height: 130px;
    object-fit: cover;
    object-position: 48% 15%;
    border-radius: 20px 20px 0px 0px;
  }
  
  
  
  /*///////////////////////////////////////////////////////////*/
  /*Image block - Parc Longchamp*/
  .Longchamp_pic
  {
    width: 97%;
    height: 151px;
    object-fit: cover;
    object-position: 48% 15%;
    border-radius: 20px 20px 0px 0px;
  }
  
  
/* Footer block ////////////////////////////////////////////////////////////////*/
  footer
  {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: #F2F2F2;
    margin-top: 7px;
  }








  
  
  
  }
  
  
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/  
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/ 
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////////////////////////////////////*/
  










